.carousel {
   max-height: 500px;
   width: auto;
   text-align: center;
}

#photos .carousel .item img, .carousel-inner {
   max-height: 500px;
   width: auto;
}

.carousel-inner>.active {
   left: 100%;
   right: 1005;
   text-align: center;
}

.carousel-caption {
   background:rgba(255,255,255,0.5);
}
