.carousel {
   max-height: 500px;
   width: auto;
   text-align: center;
}

.carousel-inner {
   max-height: 500px;
   width: auto;
}

#photos .carousel .item img {
   left: 20%;
   right: 20%;
   max-height: 500px;
   width: auto;
}

.carousel-inner>.active img {
   left: auto;
   right: auto;
}

.carousel-caption {
   color: #fdfdfd; 
   /*background:rgba(0,0,0,0.3);*/
}
